<div class="row justify-content-center align-items-center vh-100" *ngIf=!chatClient>
<div class="card align-items-center" style="width: 500px">
  <div class="card-body">
    <h2 class="welcometext">Welcome to the Chat</h2>
    <br>
    <div class="input-group mb-3">
      <input [formControl]="nameFC" type="text" class="form-control"
             placeholder="Nickname">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" style="background-color: aquamarine"
                (click)="confirmName()">OK</button>
      </div>
  </div>
    <div class="" *ngIf="errors$ | async as error ">
      <h4 class="errortext">{{error}}</h4>
    </div>
    </div>
  </div>
</div>

<section *ngIf=chatClient>
  <div class="container">
    <div class="row vh-100" style="padding-top: 60px; padding-bottom: 20px">

      <div class="col-4">
        <div class="card h-100" style="border: 0">
          <div class="card-header chatbodyboarder">
            <h4 class="headers">Currently online: </h4>
          </div>
          <div class="card-body chatbodyboarder">
          <div *ngIf="clients$ | async as clients">

            <ul>
              <li *ngFor="let client of clients" class="onlineusers">
                {{client.nickname}}
              </li>
            </ul>
          </div>
          </div>
  </div>
      </div>

      <div class="col-8" >
        <div class="card h-100" style="border: 0">
        <div class="card-header chatbodyboarder">
          <h2 class="headers">Messages:</h2>
        </div>
        <div class="card-body chatbodyboarder">
          <p style="text-align: center;">{{getTime()}}</p>
          <h6 *ngFor = "let chatMessage of messages">
            <p><span class="chatusers">{{chatMessage.client?.nickname}}: </span> <span class="msg">{{chatMessage.messageText}}</span></p>
          </h6>
          <h5 *ngIf="clientsTyping.length > 0 " style="color: gray">
        <span *ngFor="let client of clientsTyping">
          <h6>{{client.nickname}} is typing..</h6>
        </span>
          </h5>
        </div>
        <div class="card-footer chatbodyboarder">
          <div class="input-group mb-3">
            <input [formControl]="messageFc" type="text" class="form-control" placeholder="Message">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary btnsend" type="button"
                      (click)="sendMessage()">Send Message</button>
            </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</section>






