<h1 style="text-align: center">Welcome to   Chat</h1>
<br>
<div *ngIf="errors$ | async as error ">
  <h4 style="color: red">{{error}}</h4>
</div>
<section>
  <div class="container">
<div class="row">
  <div class="col-md-6">
    <div  *ngIf=chatClient style="text-align: center">
      <h2>Hi, {{chatClient.nickname}}</h2>
      <label>
      Message:
      <input type="text" [formControl]="messageFc">
      </label>
      <button (click)="sendMessage()">Send Message</button>
    </div>
      <div *ngIf=!chatClient>
        <label>
        Your Name:
        <input type="text" [formControl]="nameFC">
        </label>
        <button (click)="confirmName()">OK</button>
      </div>
    <br>

      <div *ngIf="clients$ | async as clients">
        <h3>Users online: </h3>
          <ul>
          <li *ngFor="let client of clients">
            {{client.nickname}}
          </li>
          </ul>
        </div>
  </div>

    <div class="col-md-6" style="border: green 3px solid">
      <h3 style="text-align: center">Messages:</h3>
      <h4 *ngFor = "let chatMessage of messages">
        {{chatMessage.sender.nickname}}: {{chatMessage.message}}
      </h4>
      <h5 *ngIf="clientsTyping.length > 0 " style="color: gray">
        <span *ngFor="let client of clientsTyping">
          <h5>{{client.nickname}} is typing..</h5>
        </span>
      </h5>
    </div>

    </div>
  </div>
</section>

