<div class="container">
  <div class="row vh-100" style="padding-top: 60px; padding-bottom: 20px">

    <div class="col-5">
      <div class="card h-100 border">
        <div class="card-header">
          <h4 class="headers">Stocks</h4>
        </div>
        <div class="card-body ">
          <div *ngIf="stocks$ | async as stocks">
            <ul>
              <li class="stockList" *ngFor="let stock of stocks" (click)="loadSelectedStock(stock)">
                {{stock.name}} : {{stock.price}}$
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-7" >
  <div class="card h-100 border" >
    <div class="card-header ">
      <h4 class="headers">Selected Stock</h4>
    </div>
    <div class="card-body selStockDiv" *ngIf="selectedStock">
      <h2 id="stockName">{{selectedStock.name}}</h2>
      <br>
      <h4 id="stockDescription">{{selectedStock.description}}</h4>
      <br>
      <br>
      <br>
      <div class="input-group mb-3 input-price">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">$</span>
        </div>
        <input type="number" class="form-control"  placeholder="Price" aria-label="Price" aria-describedby="basic-addon1"
               [formControl]="priceFC">
      </div>
      <div class="upd-del-btn">
      <button type="button" class="btn btn-info btn-upd" (click)="updatePrice()">Update Price</button>
      <button type="button" class="btn btn-secondary btn-del" (click)="deleteStock()">Delete Stock</button>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
