.selStockDiv{
  text-align:center;
  position: relative;
}

.upd-del-btn{
  position: absolute;
  bottom: 50px;
  right: 30px;
}

.input-price{
  position: absolute;
  bottom: 150px;
  width: 70%;
  right: 30px;
}

.btn-upd{
  margin-right: 10px;
}

.border{
  border-style: groove;
  border-color: #17A2B6;
}
